html{
    margin: 0px auto;
    font-family: sans-serif bold;
}

body{
    background-color: white;
}

/* header */
header{
    min-height: 60px;
    color: black;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    margin-left: 65px;
}

.nav{
    display: flex;
    margin-right: 65px;
}

.nav_list{
    display: flex;
    list-style: none;
}

.nav_list a{
    display: block;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
    margin: 0px 18px;
}

/* main */
.main{
    margin: auto;
    justify-content: center;
    text-align: center;
}

.main p{
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    line-height: 200%;
    letter-spacing: 0.25em;
    text-align: center;
    margin: -440px 0px 300px 0px;
}

/* article */
article{
    width: 1310px;
    margin: auto;
    margin-bottom: 50px;
}

article p{
    text-align: right;
}

.title{
    color: white;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.25em;

}

.contain{
    color: white;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.15em;
    margin-top: -15px;
}

.learnmore{
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.25em;
    text-align: end;
    padding: 5px 10px;
    margin-top: 45px;
    float: right;
    transition: 0.3s;
}
.learnmore{
    background-color: black;
    opacity: 0.5;
}
.learnmore:hover{
    background-color: white;
    opacity: 1;
}

.learnmore a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}
.learnmore a:hover{
    color: black;
}

.row1{
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.AboutUs{
    display: flex;
}

.describe1{
    margin: 50px 0px 0px -340px;
}


.LatestNews{
    width: 430px;
    height: 300px;
    background-color: #FF6900;
    opacity: 0.8;
    display: flex;
}

.describe2{
    margin: 50px 0px 0px 110px;
}

.row2{
    padding-bottom: 10px;
    justify-content: center;
}

.Dishes{
    display: flex;
}

.describe3{
    margin: 200px 0px 0px -440px;
}

.row3{
    display: flex;
    justify-content: space-between;
}

.GroupInfo{
    width: 430px;
    height: 300px;
    background-color: #FFB81C;
    display: flex;
}

.describe4{
    margin: 50px 0px 0px 150px;
}

.OurStore{
    display: flex;
    margin-right: 78px;
}

.describe5{
    margin: 50px 0px 0px -280px
}

/* footer */
.box_footer{
    height: 164px;
    background-color: #454545;
}
.footer_content{
    display: flex;
    flex-direction: row;
    margin: 60px 30px 30px 30px;
}
.mei_footer{
    width: 55px;
    height: 55px;
    margin: 50px 25px 30px 30px;
}
.footer_text{
    color: white;
    font-family: sans-serif;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    margin: 55px 30px 30px 0px;
}
.text1{
    margin-right: 60px;
    font-family: sans-serif;
}
.text2{
    margin: 35px 25px 0px 0px;
}
.text3{
    margin: 35px 25px 0px 0px;
}
.text4{
    font-size: 14px;
    margin-left: 330px;
    font-family: sans-serif;
}
